<div id="he-plugin-standard"></div>
    <script>
       WIDGET={
        CONFIG: {
            "layout":1,
            "width":250,
            "height":150,
            "backgroud":1,
            "dataColor":"FFF",
            "borderRadius": "10",
            "modules":"01",
            "key": "401e67c3fec248c39fb59f9e5a85be2b"
            }
       }
    </script>
    <script src="https://widget.heweather.net/standard/static/js/he-standard-common.js?v=1.1"></script>


