@using MVCMusicStore2019.ViewModels.MusicStores
@model OrderViewModel
@*@model ShoppingCartItem*@
<div class="panel-heading">
 <h3>订单管理</h3>
</div>
<table class="table table-striped">
    <tr>
       
        <th>序号</th>
        <th>交易时间</th>
        <th>商品数量</th>
        <th>交易金额</th>
    </tr>
    @*@if (this.Model.Id == null)
    {
        <tr><td colspan="6" class="text-center">没有订单</td></tr>
    }
    else
    {
        foreach (var item in )
        {

        }
    }*@
    </table>
